<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>登録確認</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/curry.css}" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <span th:insert="header::header"></span>
    <h3 class="text-center" style="margin: 20px 0;">受け取った住所一覧</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>氏名</th>
          <th>住所</th>
          <th>電話番号</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="addr : ${addresses}">
          <td th:text="${addr.name}"></td>
          <td th:text="${addr.address}"></td>
          <td th:text="${addr.tel}"></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a th:href="@{/address/form}" class="btn btn-warning">戻る</a>
    </div>
  </div>
</body>

</html>
